{% extends 'blog/base.html' %}

{% block content %}
    {% for post in object_list %}
        <p><a href="{% url 'post-detail' post.pk %}">Пост: {{ post.title }}</a></p>
        <p>{{ post.text }}</p>
        <p>Автор: {{ post.author }}</p>

        {% if post in read %}
            <p>Прочитан</p>
        {% else %}
            <p><a href="{% url 'add-read' post.pk %}"> Отметить прочитанным </a></p>
        {% endif %}
        <p style="margin-bottom: 40px"><a href="{% url 'del-feed' post.author.pk %}">Отписаться от этого блога</a></p>
    {% endfor %}
{% endblock %}